:root {
    font-size: 32px;
}

table, th, td {
    border: solid 2px black;
    border-collapse: collapse; /*Colapsar borde*/
}

td {
    padding: 0.25rem; /*Distancia del borde al contenido*/
}

tr:first-child { /*Primer hijo de tr en este ejemplo*/
    background-color: bisque !important; /*Etiqueta important pone esta regla sobre las demas*/
}

tr:last-child { /*Ultimo hijo de tr*/
    background-color: aquamarine;
}

tr:nth-child(2n) { /*Seleccion de hijos pares*/
    background-color: aquamarine;
}

tr:nth-child(2n+1) { /*Seleccion de hijo impares ( 2n=saltos +1=comienzo del ciclo )*/
    background-color:aqua;
}

tr:nth-child(2n) :hover { /*Que ocurre al poner el ratón por encima, sobre la regla de hacerlo en los pares.
                            Al añadir espacio la regla se aplica a los descendientes*/
    font-weight: bold;
    color: yellow;
}